parameters:
	ignoreErrors:
		-
			message: "#^Out of 2 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 75 %%$#"
			count: 1
			path: src/Formatters/LineWithHashFormatter.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Foundation\\\\Auth\\\\User\\:\\:\\$email\\.$#"
			count: 1
			path: src/Interpolations/RequestInterpolation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Log\\\\LogManager\\:\\:getMonolog\\(\\)\\.$#"
			count: 1
			path: src/Loggers/RequestLogger.php

		-
			message: "#^Call to an undefined method Psr\\\\Log\\\\LoggerInterface\\:\\:getLogger\\(\\)\\.$#"
			count: 1
			path: src/Loggers/RequestLogger.php

		-
			message: "#^Out of 2 possible constant types, only 0 \\- 0\\.0 %% actually have it\\. Add more constant types to get over 75 %%$#"
			count: 1
			path: src/Services/RequestLoggerService.php
